body{
    background: cornflowerblue;
    font: normal 18pt Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    text-align: center;
    margin-left: 90px;
    width: 500px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 363);
}

footer{
    text-align: center;
    color: white;
    font: bolder 18pt Arial;
}